.paywall-content.paywall-content.paywall-content {
  max-height: none !important;
  height: auto !important;:
}

.paywall-content.paywall-content.paywall-content::after {
  content: unset !important;
}

.paywall-hard.paywall-hard.paywall-hard {
  display: none;
}
